{
	"extends": "eslint:recommended",
	"env": {
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		// New best practices
		"quotes": ["error", "double"],
		"prefer-template": "error",
		"curly": ["error", "multi", "consistent"]
	}
}
