{
    "log": {
        "appenders": {
            "console": { "type": "console", "layout": { "type": "pattern", "pattern": "%[%d{dd/MM/yyyy - hh:mm:ss} [%p] %c: %m%]" } }
        },
        "categories": { "default": { "appenders": ["console"], "level": "debug" } }
    }
}
